<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/css/material-icons.css">
    <link rel="stylesheet" href="/css/emojionearea.min.css">
    <!-- <link rel="stylesheet" href="/assets/css/monolith.min.css">
    <link rel="stylesheet" href="/assets/css/classic.min.css">
    <link rel="stylesheet" href="/assets/css/nano.min.css"> -->
</head>

<body>

    <div id="root">
        <!-- class="namespace-interchange" -->
        <!-- Left Side Nav bar -->
        <div class="nav_bar">
            <div class="userDetails-NameSpace_container">
                <!-- User Details Container -->
                <div class="user_dp image_holder remove_sidebar" data-userId="<%= user._id %>" tabindex="0">
                    <img id="user-dp" class="userLink" data-userId="<%= user._id %>" src="<%= user.image %>"
                        alt="<%= user.name %>">
                    <!-- Notification Count -->
                    <div class="notification-count remove_sidebar"
                        data-nothing="<%= user.notificationCount == 0 ? 'true' : 'false' %>">
                        <%= user.notificationCount %></div>
                </div>
                <hr>
                <!-- Add New NameSpace Container -->
                <div class="add-name_space image_holder remove_sidebar">
                    <img src="/assets/images/add.png" alt="add-icon">
                </div>
                <hr>
                <!-- NameSpace Container -->
                <div class="nameSpaceContainer">
                    <!-- class="tut_mode" -->
                    <% for(let workSpace of workSpaces) { %>
                    <!-- class="tut_focus" -->
                    <div class="name_space image_holder anim" data-ns="<%= workSpace.endPoint %>"
                        data-animtochilds="false" data-animdelay="0" data-animdirection="topToBottom"
                        data-startoffset="3px"
                        style="transition: all 0.25s ease-in-out 0s; opacity: 1; animation: 0s ease 0s 1 normal none running none; transform: none;">
                        <img src="<%= workSpace.image %>" alt="<%= workSpace.title %>" title="<%= workSpace.title %>">
                        <!-- <p><%= workSpace.title %></p> -->
                        <div class="ns-notification" data-nothing="<%= workSpace.nothing %>"></div>
                    </div>
                    <% } %>
                    <!-- <div class="back-drop"></div> -->


                    <!-- <div class="tut_message">
                        <p>Click here to get anything here</p>
                        <div class="btns">
                            <button type="button" class="redLinear">Skip</button>
                            <button type="button" class="blueLinear">Next</button>
                        </div>
                    </div> -->


                    <!--                    <div class="name_space image_holder anim" ns="/wikit" data-animtochilds="false" data-animdelay="0" data-animdirection="topToBottom" data-startoffset="3px" style="transition: all 0.25s ease-in-out 0s; opacity: 1; animation: 0s ease 0s 1 normal none running none; transform: none;">-->
                    <!--                        <img src="/assets/images/Capture.PNG" alt="wikit" title="wikit">-->
                    <!--                    </div>-->
                    <!--                    <div class="name_space image_holder" ns="/dndeveloper">-->
                    <!--                         <img src="./assets/images/Capture.PNG" alt="DNDeveloper" title="">-->
                    <!--                    </div>-->
                    <!--                    <div class="name_space image_holder" ns="/ewl">-->
                    <!--                         <img src="./assets/images/IMG_20191019_011435.jpg" alt="DNDeveloper">-->
                    <!--                    </div>-->
                    <!--                    <div class="name_space image_holder" ns="/devils">-->
                    <!--                         <img src="./assets/images/saurabh_with_laptop_front.jpg" alt="DNDeveloper">-->
                    <!--                    </div>-->
                    <!--                    <div class="name_space image_holder">-->
                    <!--                         <img src="./assets/images/Saurabh_DP_square.jpg" alt="DNDeveloper">-->
                    <!--                    </div>-->
                </div>
                <hr class="logout">
                <!-- Logout Button Element -->
                <div class="logout-btn image_holder">
                    <img src="/assets/images/logout.png" alt="logout-icon">
                </div>
            </div>
            <div class="nameSpaceDetails-Room_container">
                <!-- class="tut_focus" -->
                <div class="namespace-name">
                    <div class="namespace-event">
                        <h3 title="<%= config.defaultWorkSpace ? config.defaultWorkSpace.title.toUpperCase() : '' %>">
                            <%= config.defaultWorkSpace ? config.defaultWorkSpace.title.toUpperCase() : "" %></h3><i
                            class="material-icons">arrow_drop_down</i>
                    </div>
                    <div class="ns-options dropdown">
                        <div class="ns-option workspace-settings removeBackDropOnClick remove_sidebar">
                            <p class="red">Workspace Settings</p>
                        </div>
                        <div class="ns-option invite-friend removeBackDropOnClick remove_sidebar">
                            <p class="green">Invite Friend</p>
                        </div>
                    </div>

                    <!-- <div class="tut_message toBottom">
                        <p>Click here to get anything here</p>
                        <div class="btns">
                            <button type="button" class="redLinear">Skip</button>
                            <button type="button" class="blueLinear">Next</button>
                        </div>
                    </div> -->
                </div>
                <!-- <div class="back-drop"></div> -->
                <!-- Room Container -->
                <!-- class="tut_focus" -->
                <div class="roomContainer">

                    <!-- <div class="tut_message toRight">
                        <p>Click here to get anything here</p>
                        <div class="btns">
                            <button type="button" class="redLinear">Skip</button>
                            <button type="button" class="blueLinear">Next</button>
                        </div>
                    </div> -->
                    <h4 class="room-group-name">Rooms</h4>
                    <!-- Real Rooms -->
                    <!-- <div class="room anim" data-id="5e66686a8aca6819f4a4af34" data-nsid="5e66686b8aca6819f4a4af35" data-ns="/boys8068659" data-animtochilds="false" data-animdelay="0.1" data-animchilddelays="0.1" data-animdirection="leftToRight" data-startoffset="3px">
                        <div class="room-name">
                            <svg version="1.1" id="Capa_1" fill="#585555" style="margin-right: 6px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 31.416 31.416" xml:space="preserve"><g><g><path d="M28.755,6.968l-0.47,0.149L25.782,7.34l-0.707,1.129l-0.513-0.163L22.57,6.51l-0.289-0.934L21.894,4.58l-1.252-1.123l-1.477-0.289l-0.034,0.676l1.447,1.412l0.708,0.834L20.49,6.506l-0.648-0.191L18.871,5.91l0.033-0.783l-1.274-0.524l-0.423,1.841l-1.284,0.291l0.127,1.027l1.673,0.322l0.289-1.641l1.381,0.204l0.642,0.376h1.03l0.705,1.412l1.869,1.896l-0.137,0.737l-1.507-0.192l-2.604,1.315l-1.875,2.249l-0.244,0.996h-0.673l-1.254-0.578l-1.218,0.578l0.303,1.285l0.53-0.611l0.932-0.029l-0.065,1.154l0.772,0.226l0.771,0.866l1.259-0.354l1.438,0.227l1.67,0.449l0.834,0.098l1.414,1.605l2.729,1.605l-1.765,3.372l-1.863,0.866l-0.707,1.927l-2.696,1.8l-0.287,1.038c6.892-1.66,12.019-7.851,12.019-15.253C31.413,12.474,30.433,9.465,28.755,6.968z"></path><path d="M17.515,23.917l-1.144-2.121l1.05-2.188l-1.05-0.314l-1.179-1.184l-2.612-0.586l-0.867-1.814v1.077h-0.382l-2.251-3.052v-2.507L7.43,8.545L4.81,9.012H3.045L2.157,8.43L3.29,7.532L2.16,7.793c-1.362,2.326-2.156,5.025-2.156,7.916c0,8.673,7.031,15.707,15.705,15.707c0.668,0,1.323-0.059,1.971-0.137l-0.164-1.903c0,0,0.721-2.826,0.721-2.922C18.236,26.357,17.515,23.917,17.515,23.917z"></path><path d="M5.84,5.065l2.79-0.389l1.286-0.705l1.447,0.417l2.312-0.128l0.792-1.245l1.155,0.19l2.805-0.263L19.2,2.09l1.09-0.728l1.542,0.232l0.562-0.085C20.363,0.553,18.103,0,15.708,0C10.833,0,6.474,2.222,3.596,5.711h0.008L5.84,5.065z M16.372,1.562l1.604-0.883l1.03,0.595l-1.491,1.135l-1.424,0.143l-0.641-0.416L16.372,1.562z M11.621,1.691l0.708,0.295l0.927-0.295l0.505,0.875l-2.14,0.562l-1.029-0.602C10.591,2.526,11.598,1.878,11.621,1.691z"></path></g></g></svg>                    
                            <span># </span>
                            <span class="roomName">haha</span>
                            <div class="room-notification" data-nothing="true"></div>
                        </div>
                        <i class="pointer material-icons delete-room">delete</i>
                        
                        <hr>
                    </div> -->
                    <!--                    <div class="room anim" data-id="5e0f1444ff19141a58ef4ce0" data-nsid="5e0e4d536ab3a74520d9e359" data-ns="wikit" data-animtochilds="false" data-animdelay="0.1" data-animchilddelays="0.1" data-animdirection="leftToRight" data-startoffset="3px" style="transition: all 0.25s ease-in-out 0s; opacity: 1; animation: 0s ease 0s 1 normal none running none; transform: none;">-->
                    <!--                        <div class="room-name">-->
                    <!--                            <span># </span><span>2345</span></div>-->
                    <!--                        <i class="pointer material-icons delete-room">delete</i>-->
                    <!--                    </div>-->
                    <!--                    <div class="room anim" data-id="5e0f1444ff19141a58ef4ce0" data-nsid="5e0e4d536ab3a74520d9e359" data-ns="wikit" data-animtochilds="false" data-animdelay="0.1" data-animchilddelays="0.1" data-animdirection="leftToRight" data-startoffset="3px" style="transition: all 0.25s ease-in-out 0s; opacity: 1; animation: 0s ease 0s 1 normal none running none; transform: none;">-->
                    <!--                        <div class="room-name"><span># </span><span>2345</span></div>-->
                    <!--                        <i class="pointer material-icons delete-room">delete</i>-->
                    <!--                    </div>-->
                    <!--                        <div class="room">-->
                    <!--                            <div class="room-name"><span># </span><span>general</span></div>-->
                    <!--                            <i class="pointer material-icons">delete</i>-->
                    <!--                        </div>-->
                    <!--                        <hr>-->
                    <!--                    <div class="room">-->
                    <!--                        <div class="room-name"><span># </span><span>announcements</span></div>-->
                    <!--                    </div>-->
                    <!--                    <hr>-->
                    <!--                    <div class="room">-->
                    <!--                        <div class="room-name"><span># </span><span>bots</span></div>-->
                    <!--                    </div>-->
                    <!--                    <hr>-->
                    <!--                    <div class="room">-->
                    <!--                        <div class="room-name"><span># </span><span>music</span></div>-->
                    <!--                    </div>-->
                    <!--                    <hr>-->
                    <!--                    <div class="room">-->
                    <!--                        <div class="room-name"><span># </span><span>others</span></div>-->
                    <!--                    </div>-->
                    <!--                    <hr>-->
                </div>

                <!-- <div class="back-drop"></div> -->
                <button class="pointer add-room">Add Room</button>
            </div>
        </div>
        <!-- Main Message display bar -->
        <div class="main_bar">
            <!-- Room Details on top of the message container -->
            <div class="room-details">

                <!-- Mobile Navigation -->
                <div class="toggle-btn alignCenter">
                    <i class="material-icons">menu</i>
                </div>

                <!-- Left Bar on top message -->
                <div class="keepItLeft">
                    <div class="current-room-name">
                        <span><%= user.name %></span>
                    </div>
                    <div class="users-online" title="No. of online users">
                        <p></p>
                        <i class="material-icons">person</i>
                    </div>
                </div>
                <!-- Right Bar on top message -->
                <!-- <div class="keepItRight mob-search-btn">
                    <i class="material-icons">search</i>
                </div>
                <div class="keepItRight mob-drop-down">
                    <div class="emoji-input">
                        <input id="emoji" type="text" class="search-bar" placeholder="Search here!">
                    </div>
                    <button id="search-btn" class="pointer">Search</button>
                </div> -->
                <div class="toRight">
                    <!-- class="tut_focus" -->
                    <div class="mentions-btn alignCenter">
                        <img src="/assets/images/mention.svg" class="mention" title="Sneek on your mentions"
                            alt="mentions">

                        <div class="mentions-modal">
                            <div class="mentions-container">
                                <div class="loader-container">
                                    <svg class="circular" viewBox="25 25 50 50">
                                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                            stroke-miterlimit="10" />
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="tut_message toBottom">
                            <p>Click here to get anything here</p>
                            <div class="btns">
                                <button type="button" class="redLinear">Skip</button>
                                <button type="button" class="blueLinear">Next</button>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="back-drop"></div> -->
                    <!-- class="tut_focus" -->
                    <div class="workspace-clients-icon alignCenter">
                        <img src="/assets/images/friends.svg" class="message-user_dp" alt="workspace-clients-icon">

                        <!-- <div class="tut_message toBottomLeft">
                            <p>Click here to get anything here</p>
                            <div class="btns">
                                <button type="button" class="redLinear">Skip</button>
                                <button type="button" class="blueLinear">Next</button>
                            </div>
                        </div> -->
                    </div>
                    <div class="friends-icon alignCenter">
                        <i class="material-icons">person</i>
                    </div>
                    <div class="options-btn alignCenter">
                        <i class="material-icons">more_vert</i>
                    </div>
                </div>
            </div>
            <!-- Message display container -->
            <!-- class="tut_mode" -->
            <div class="message-display__container">

                <div class="messages">

                    <!-- Message Loader -->
                    <div class="message-loader">
                        <div class="loader-container">
                            <svg width="40" height="40">
                                <circle class="loader" cx="20" cy="20" r="17"></circle>
                            </svg>
                        </div>
                    </div>

                    <!-- <div class="message" data-userid="5e725342cd59b117f373e9de">
                        <div class="message-inner">
                            <div class="header">
                                <div class="user-img userLink pointer" data-userid="5e725342cd59b117f373e9de" data-eventactive="true">
                                    <img src="/assets/images/Saurabh_DP_square.jpg" class="message-user_dp" alt="">
                                </div>
                                
                                <div class="message-body">
                                    <div class="message-header">
                                        <div class="user userLink pointer" data-userid="5e725342cd59b117f373e9de" data-eventactive="true">
                                            <span class="message-user_name">Suraj Singh</span>
                                            <span class="message-time_stamp">Mar 19 | 2020, 18:55:10</span>
                                        </div>
                                        <div class="options pointer">
                                            <i class="material-icons">more_vert</i>
                                        </div>
                                    </div>
                                    <div class="message-data">
                                        <p data-messageid="5e725459cd59b117f373e9f2">
                                            <span class="image-input"><img src="/assets/images/Saurabh_DP_square.jpg" alt="Suraj Singh"></span>
                                            <span class="text"></span>
                                            <span class="tag-details userLink" aria-label="Suraj Singh" data-userid="5e725342cd59b117f373e9de" contenteditable="false" data-eventactive="true">
                                                <img src="/assets/images/Saurabh_DP_square.jpg" alt="Suraj Singh">@Suraj Singh
                                            </span>
                                            <span class="text">I am not gonna answer this actually.</span>
                                        </p>
                                    </div>
                                    <div class="message-status">
                                        <i class="material-icons">done_all</i>
                                    </div>
                                </div>
                                <span class="react_container">
                                    <span class="delete-icon icon">
                                        <i class="material-icons">delete</i>
                                    </span>
                                    <span class="pin-icon icon">
                                        <img src="/assets/images/pin.svg" class="message-user_dp" alt="">
                                    </span>
                                    <span class="more-icon icon">
                                        <i class="material-icons">more_horiz</i>
                                    </span>
                                </span>
                                <span class="message-time_stamp">10:33 pm</span>
                            </div>

                            <div class="message-data">
                                <p data-messageid="5e725459cd59b117f373e9f2">
                                    <span class="image-input"><img src="/assets/images/Saurabh_DP_square.jpg" alt="Suraj Singh"></span>
                                    <span class="text"></span>
                                    <span class="tag-details userLink" aria-label="Suraj Singh" data-userid="5e725342cd59b117f373e9de" contenteditable="false" data-eventactive="true">
                                        <img src="/assets/images/Saurabh_DP_square.jpg" alt="Suraj Singh">@Suraj Singh
                                    </span>
                                    <span class="text">I am not gonna answer this actually.</span>
                                </p>
                                <p data-messageid="5e725469cd59b117f373e9f5">
                                    <span class="text"></span>
                                    <span class="tag-details userLink" aria-label="Saurabh Singh" data-userid="5e72511ad20dd4174583db63" contenteditable="false" data-eventactive="true"><img src="/assets/images/Saurabh_DP_square.jpg" alt="Saurabh Singh">@Saurabh Singh</span>
                                    <span class="text">Haha, I mentioned myself</span>
                                    <span class="react_container">
                                        <span class="delete-icon icon">
                                            <i class="material-icons">delete</i>
                                        </span>
                                        <span class="pin-icon icon">
                                            <img src="/assets/images/pin.svg" class="message-user_dp" alt="">
                                        </span>
                                        <span class="more-icon icon">
                                            <i class="material-icons">more_horiz</i>
                                        </span>
                                    </span>
                                    <span class="message-time_stamp">10:33 pm</span>
                                </p>
                                <p data-messageid="5e725474cd59b117f373e9f8"><span class="text">I see</span></p>
                            </div>
                        </div>
                        <hr>
                    </div> -->

                </div>
                <!-- <div class="back-drop"></div> -->
                <!-- class="tut_focus" -->
                <div class="workspace-clients open">

                    <!-- <div class="tut_message toLeft">
                        <p>Click here to get anything here</p>
                        <div class="btns">
                            <button type="button" class="redLinear">Skip</button>
                            <button type="button" class="blueLinear">Next</button>
                        </div>
                    </div> -->
                    <div class="online-separator separators">ONLINE</div>
                    <div class="online-clients">
                        <!-- <div class="client">
                            <div class="image">
                                <img src="/assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">
                                <span class="status" data-status="online"></span>
                            </div>
                            <div class="name">
                                <p>Saurabh Singh</p>
                            </div>
                        </div>
                        <div class="client">
                            <div class="image">
                                <img src="/assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">
                                <span class="status" data-status="online"></span>
                            </div>
                            <div class="name">
                                <p>Saurabh Singh</p>
                            </div>
                        </div>
                        <div class="client">
                            <div class="image">
                                <img src="/assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">
                                <span class="status" data-status="online"></span>
                            </div>
                            <div class="name">
                                <p>Saurabh Singh</p>
                            </div>
                        </div> -->
                    </div>
                    <div class="offline-separator separators">OFFLINE</div>
                    <div class="offline-clients">
                        <!-- <div class="client">
                            <div class="image">
                                <img src="/assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">
                                <span class="status" data-status="offline"></span>
                            </div>
                            <div class="name">
                                <p>Saurabh Singh</p>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- Real Message Body -->
                <!-- <div class="message">
                    <div class="message-inner">
                        <div class="user-img">
                            <img src="/assets/images/Saurabh_DP_square.jpg" class="message-user_dp" alt="">
                        </div>
                        <div class="message-body">
                            <div class="message-header">
                                <div class="user">
                                    <span class="message-user_name">Slim Shady</span>
                                </div>
                                <div class="options pointer">
                                    <i class="material-icons">more_vert</i>
                                </div>
                            </div>
                            <div class="message-data">
                                <p>This is my first message!</p>
                            </div>
                            <span class="message-time_stamp">5:20 am</span>
                            <div class="message-status">
                                <i class="material-icons">done_all</i>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!--                <div class="message">-->
                <!--                    <div class="message-header">-->
                <!--                        <div class="user">-->
                <!--                            <img src="./assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">-->
                <!--                            <span class="message-user_name">Saurabh Singh</span>-->
                <!--                        </div>-->
                <!--                        <span class="message-time_stamp">5:20 am</span>-->
                <!--                    </div>-->
                <!--                    <div class="message-data">-->
                <!--                        <p>This is not my first one though!</p>-->
                <!--                    </div>-->
                <!--                    <div class="message-status">-->
                <!--                        <i class="material-icons">done_all</i>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            <!-- Send Message Element -->
            <form class="send-message">
                <div class="tag-list">
                    <div class="tag-members"></div>
                    <div class="tag-roles"></div>
                    <!-- <div class="tag">
                        <div class="tag-body userLink" data-userid="">
                            <div class="tag-img">
                                <img src="/assets/images/Saurabh_DP_square.jpg" class="message-user_dp" alt="">
                            </div>
                            <div class="tag-name">Saurabh Singh</div>
                        </div>
                        <div class="tag-hash">Saurabh Singh#12345</div>
                    </div>
                    <div class="tag">
                        <div class="tag-body">
                            <div class="tag-img">
                                <img src="/assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">
                            </div>
                            <div class="tag-name">Suraj Singh</div>
                        </div>
                        <div class="tag-hash">Suraj Singh#56145</div>
                    </div>
                    <div class="tag">
                        <div class="tag-body">
                            <div class="tag-img">
                                <img src="/assets/images/saurabh_with_laptop_front.jpg" class="message-user_dp" alt="">
                            </div>
                            <div class="tag-name">Rashika Singh</div>
                        </div>
                        <div class="tag-hash">Rashika Singh#97345</div>
                    </div>
                    <div class="tag">
                        <div class="tag-body">
                            <div class="tag-img">
                                <img src="/assets/images/Capture.jpg" class="message-user_dp" alt="">
                            </div>
                            <div class="tag-name">Ishu Sinha</div>
                        </div>
                        <div class="tag-hash">Ishu Sinha#13125</div>
                    </div> -->
                </div>
                <div class="input" id="editable" data-text="Enter your message!" contenteditable="true" role="textbox"
                    tabindex="0">

                </div>
                <!-- <div class="emoji-input">
                    <div class="input" id="editable" data-text="Enter your message!" contenteditable="true" role="textbox" tabindex="0"></div>
                </div>  -->
                <div class="selectors">
                    <div class="image_input">
                        <input type="file" name="image" class="room_image">
                        <i class="material-icons">image</i>
                    </div>
                    <!-- <div class="image_input">
                        <input type="file" name="image" class="room_image">
                        <i class="material-icons">image</i>
                    </div> -->
                </div>
                <!-- <input type="text" value="<span style='color: red'>Saurabh Singh</span> is good guy!" placeholder="Enter your message!"> -->
                <button class="pointer" type="button">Send<i class="material-icons">send</i></button>
            </form>
        </div>

        <div class="friends-list">
            <% for(let friend of friends) { %>
            <div class="friend pointer userLink remove_frndslist" data-userId="<%= friend._id %>"
                data-status="<%= friend.status %>" data-profileurl="http://localhost:3000/dashboard/home">
                <span class="status"></span>
                <img src="<%= friend.image %>" alt="<%= friend.name %>">
                <div class="new-notification" data-nothing="<%= friend.notificationCount == 0 ? 'true' : 'false' %>">
                    <%= friend.notificationCount %></div>
            </div>
            <% } %>
            <!-- data-nothing="0" -->
            <!-- <div class="friend pointer" data-status="idle" data-profileurl="http://localhost:3000/dashboard/home">
                <span class="status"></span>
                <img src="/assets/images/Saurabh_DP_square.jpg" alt="DNDeveloper">
                <div class="new-notification">
                    2
                </div>
            </div>
            <div class="friend pointer" data-status="offline" data-profileurl="http://localhost:3000/dashboard/home">
                <span class="status"></span>
                <img src="/assets/images/Saurabh_DP_square.jpg" alt="DNDeveloper">
            </div> -->
        </div>

        <% if( loadOnDefault ) { %>
        <div class="back-drop"></div>
        <div class="modal" data-id="user_profile" data-userId="<%= gotUser._id %>" tabindex="0">
            <form action="/auth/update_profile" method="POST" enctype="multipart/form-data">
                <div class="first-choice center-content alone">
                    <h5 class="bigger">User Profile</h5>
                    <div class="modal_image user_dp">
                        <input name="image" type="file" class="input__file input__dp">
                        <figure>
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="30%" viewBox="0 0 20 17">
                                <path
                                    d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                                </svg>
                        </figure>
                        <label for="image" class="dp__name"></label>
                        <img class="user_modal_img" src="<%= gotUser.image %>" alt="<%= gotUser.name %>">
                    </div>
                    <div class="input-control">
                        <label class="finalize" for="">Full Name</label>
                        <input type="text" name="user_name" value="<%= gotUser.name %>"
                            placeholder="Enter Workspace name..." <%= isItAuthenticatedUser ? '' : 'readonly' %>>
                    </div>
                    <div class="input-control">
                        <label for="" class="finalize">Unique userId</label>
                        <input type="text" name="user_id" value="<%= gotUser._id %>"
                            placeholder="Enter Workspace name..." disabled>
                    </div>
                    <% if(isItAuthenticatedUser) { %>
                    <div class="input-control">
                        <label class="finalize" for="Finalize Changes">Finalize Changes</label>
                        <button type="submit" id="update-profile" class="pointer blueLienar btn yes">Save Changes
                            <div class="loader-container">
                                <svg width="40" height="40">
                                    <circle class="loader" cx="20" cy="20" r="17"></circle>
                                </svg>
                            </div>
                        </button>
                    </div>
                    <% } else if(isFriend) { %>
                    <div class="input-control">
                        <label class="finalize" for="">Write a Message</label>
                        <button class="pointer blueLienar yes" data-togglechat="true" data-closemodal="false">Toggle
                            Chatbox</button>
                    </div>
                    <% } %>
                </div>
                <% if(!isItAuthenticatedUser && !isFriend) { %>
                <div class="option-choice center-content" data-id="add_friend">
                    <div class="input-control">
                        <label class="strict-action" for="">Such Action</label>
                        <button class="pointer redLinear another">Add as a Friend</button>
                    </div>
                </div>
                <% } else if(!isItAuthenticatedUser) { %>
                <div class="option-choice center-content" data-id="remove_friend">
                    <div class="input-control">
                        <label class="strict-action" for="">Such Action</label>
                        <button class="pointer redLinear another">Remove Friend</button>
                    </div>
                </div>
                <% } %>
            </form>
        </div>
        <% } %>

        <div class="disconnected-modal">
            <?xml version="1.0" encoding="iso-8859-1"?>
            <!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" preserveAspectRatio="none" viewBox="0 0 493.266 493.266"
                style="enable-background:new 0 0 493.266 493.266;" xml:space="preserve">
                <g>
                    <path d="M353.877,94.284c18.179,0,32.951,14.792,32.951,32.965v49.32h32.828v-49.32c0-36.273-29.515-65.785-65.779-65.785h-16.016
                    c0.966,5.342,1.545,10.809,1.545,16.414s-0.579,11.073-1.545,16.406H353.877z" />
                    <path d="M106.432,127.249c0-18.173,14.777-32.965,32.957-32.965h15.995c-0.966-5.333-1.539-10.801-1.539-16.406
                    s0.573-11.072,1.539-16.414h-15.995c-36.265,0-65.784,29.512-65.784,65.785v49.32h32.827V127.249z" />
                    <path
                        d="M153.339,198.824c-31.799,0-125.345-0.034-125.345-0.034C12.544,198.79,0,212.401,0,229.126v232.449
                    c0,16.736,12.544,30.355,27.994,30.355h124.047c15.437,0,27.995-13.619,27.995-30.355V229.126
                    C180.036,213.564,167.385,198.824,153.339,198.824z M32.827,231.608h114.382v202.57H32.827V231.608z M90.051,477.477
                    c-5.879,0-10.777-3.203-13.748-7.781c-1.688-2.603-2.941-5.534-2.941-8.865c0-9.195,7.487-16.656,16.689-16.656
                    c9.155,0,16.624,7.461,16.624,16.656c0,3.331-1.224,6.263-2.907,8.865C100.796,474.274,95.898,477.477,90.051,477.477z" />
                    <path
                        d="M464.719,198.768c-31.801,0.041-126.664,0.358-126.664,0.358c-13.94,1.718-24.83,14.438-24.83,30v232.449
                    c0,16.736,12.544,30.355,27.98,30.355h124.053c15.431,0,28.009-13.619,28.009-30.355V229.126
                    C493.266,212.401,480.149,198.747,464.719,198.768z M346.053,231.608h114.385v202.57H346.053V231.608z M403.246,477.477
                    c-5.865,0-10.762-3.203-13.748-7.781c-1.689-2.603-2.907-5.534-2.907-8.865c0-9.195,7.452-16.656,16.655-16.656
                    c9.17,0,16.652,7.461,16.652,16.656c0,3.331-1.252,6.263-2.935,8.865C413.992,474.274,409.089,477.477,403.246,477.477z" />
                    <path d="M246.622,1.334c-42.206,0-76.545,34.336-76.545,76.543s34.339,76.543,76.545,76.543c42.208,0,76.547-34.336,76.547-76.543
                    S288.83,1.334,246.622,1.334z M246.622,131.229c-29.42,0-53.349-23.928-53.349-53.352c0-29.413,23.929-53.352,53.349-53.352
                    c29.422,0,53.355,23.938,53.355,53.352C299.977,107.301,276.044,131.229,246.622,131.229z" />
                    <path d="M278.614,45.894c-5.442-5.438-14.258-5.438-19.69,0l-12.302,12.309l-12.301-12.309c-5.428-5.438-14.246-5.438-19.689,0
                    c-5.428,5.427-5.428,14.252,0,19.683l12.315,12.301l-12.315,12.311c-5.428,5.428-5.428,14.246,0,19.673
                    c2.73,2.724,6.294,4.08,9.83,4.08c3.565,0,7.145-1.356,9.859-4.08l12.301-12.308l12.302,12.308c2.715,2.724,6.299,4.08,9.846,4.08
                    c3.55,0,7.116-1.356,9.845-4.08c5.432-5.427,5.432-14.245,0-19.673l-12.317-12.311l12.317-12.301
                    C284.046,60.146,284.046,51.321,278.614,45.894z" />
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
            </svg>

            <svg class="wifi_disconnected" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="496.747" height="404.5" viewBox="0 0 496.747 404.5">
                <defs>
                    <filter id="Ellipse_1" x="265.5" y="251.5" width="153" height="153" filterUnits="userSpaceOnUse">
                        <feOffset dy="3" input="SourceAlpha" />
                        <feGaussianBlur stdDeviation="3" result="blur" />
                        <feFlood flood-opacity="0.522" />
                        <feComposite operator="in" in2="blur" />
                        <feComposite in="SourceGraphic" />
                    </filter>
                </defs>
                <g id="Wifi_Disconnected" data-name="Wifi Disconnected" transform="translate(-1192.5 -586.5)">
                    <g id="XMLID_358_" transform="translate(1194 534.104)">
                        <path id="XMLID_362_"
                            d="M212.524,356.921a48.586,48.586,0,1,0,68.715,0A48.594,48.594,0,0,0,212.524,356.921Z"
                            fill="rgba(0,0,0,0.17)" />
                        <path id="XMLID_361_"
                            d="M246.882,241.383A148.83,148.83,0,0,0,140.911,285.29,28.435,28.435,0,0,0,181.124,325.5a92.982,92.982,0,0,1,131.517,0,28.435,28.435,0,1,0,40.213-40.213A148.834,148.834,0,0,0,246.882,241.383Z"
                            fill="rgba(0,0,0,0.17)" />
                        <path id="XMLID_360_"
                            d="M246.882,147.743a241.917,241.917,0,0,0-172.2,71.331A28.435,28.435,0,1,0,114.9,259.287a186.63,186.63,0,0,1,263.953,0,28.435,28.435,0,0,0,40.213-40.213A241.871,241.871,0,0,0,246.882,147.743Z"
                            fill="none" stroke="#242435" stroke-width="3" />
                        <path id="XMLID_359_"
                            d="M485.436,152.721a337.336,337.336,0,0,0-477.108,0,28.435,28.435,0,1,0,40.213,40.214,280.45,280.45,0,0,1,396.664,0,28.442,28.442,0,0,0,40.231-40.214Z"
                            fill="none" stroke="#242435" stroke-width="3" />
                    </g>
                    <g id="Cross">
                        <g transform="matrix(1, 0, 0, 1, 1192.5, 586.5)" filter="url(#Ellipse_1)">
                            <circle id="Ellipse_1-2" data-name="Ellipse 1" cx="67.5" cy="67.5" r="67.5"
                                transform="translate(274.5 257.5)" fill="#3e0404" />
                        </g>
                        <rect id="Rectangle_1" data-name="Rectangle 1" width="8.045" height="90.104" rx="4.023"
                            transform="translate(1563.541 877.21) rotate(45)" fill="#fff" />
                        <rect id="Rectangle_2" data-name="Rectangle 2" width="8.045" height="90.104" rx="4.022"
                            transform="translate(1569.229 940.923) rotate(135)" fill="#fff" />
                    </g>
                </g>
            </svg>


            <p>Poor communication doesn’t disconnect souls. It’s the disconnected souls who poorly communicate.</p>

            <div class="loader-container">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>

        </div>


        <div class="save_modal">
            <p>You have some unsaved changes!</p>
            <button class="btn red">Reset</button>
            <button class="btn green">Save Changes</button>
        </div>

        <!--  Modal with BackDrop  -->
        <!-- <div class="back-drop"></div>
        <div class="modal" data-id="workspace_settings" data-ns="/Done4213734" tabindex="0">
            <div class="side_bar">
                <div class="bg_image">
                    <img src="/assets/images/draw.svg" alt="vector">
                </div>
                <div class="overview_section side_nav_section">
                    <div class="header">
                        DNDevelopers
                    </div>
                    <ul class="list">
                        <li class="list_item settings_nav_item" data-navsetting="overview">Overview</li>
                        <li class="list_item settings_nav_item" data-navsetting="roles">Roles</li>
                        <li class="list_item settings_nav_item" data-navsetting="moderation">Moderation</li>
                        <li class="list_item settings_nav_item" data-navsetting="activities">Activities</li>
                    </ul>
                </div>
                <div class="user_section side_nav_section">
                    <div class="header">
                        User Management
                    </div>
                    <ul class="list">
                        <li class="list_item">Members</li>
                        <li class="list_item">Invites</li>
                        <li class="list_item">Bans</li>
                    </ul>
                </div>
            </div>

            <div class="main_nav">
                <div class="settings" data-setting="roles">
                    <div class="roles_nav">
                        <div class="header">
                            Roles
                        </div>
                        <div class="notice">
                            <p><span class="note">Note</span> :- Drag and Drop items to set the priority among roles!
                            </p>
                        </div>
                        <div class="roles_container">
                            <div class="cursor hide" style="top: 90.5469px; left: 228.992px;">
                                <svg height="512pt" viewBox="-149 0 512 512.10667" width="512pt"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="m170.71875 256.105469c0 35.347656-28.652344 64-64 64-35.34375 0-64-28.652344-64-64 0-35.34375 28.65625-64 64-64 35.347656 0 64 28.65625 64 64zm0 0">
                                    </path>
                                    <path
                                        d="m192.054688 362.773438h-170.667969c-11.753907 0-21.3320315 9.578124-21.3320315 21.332031 0 4.03125 1.0664065 7.832031 3.2851565 11.5625.382812.640625.808594 1.261719 1.277344 1.835937l86.570312 108.03125c4.269531 4.246094 9.773438 6.570313 15.53125 6.570313 5.761719 0 11.265625-2.324219 16.769531-7.914063l85.332031-106.667968c.46875-.574219.898438-1.214844 1.28125-1.832032 2.21875-3.753906 3.285157-7.554687 3.285157-11.585937 0-11.753907-9.578125-21.332031-21.332031-21.332031zm0 0">
                                    </path>
                                    <path
                                        d="m21.386719 149.441406h170.667969c11.753906 0 21.332031-9.578125 21.332031-21.335937 0-4.03125-1.066407-7.828125-3.285157-11.5625-.382812-.640625-.8125-1.257813-1.28125-1.832031l-86.570312-108.035157c-8.53125-8.445312-21.289062-9.8125-32.296875 1.367188l-85.335937 106.667969c-.46875.574218-.894532 1.214843-1.277344 1.832031-2.21875 3.734375-3.2851565 7.53125-3.2851565 11.5625 0 11.757812 9.5781245 21.335937 21.3320315 21.335937zm0 0">
                                    </path>
                                </svg>
                                <div class="spread"></div>
                            </div>
                            <div class="role_list" style="height: 200px;">
                                <div class="role_list_item" data-count="2" data-roletag="/everyone" style="top: 40px;">
                                    <div class="place_holder" style="color: rgb(116, 113, 110)">everyone</div>
                                </div>

                                <div class="role_list_item" data-count="4" data-roletag="/founder1742426"
                                    style="top: 120px;">
                                    <div class="place_holder" style="color: #9A0405">founder</div>
                                </div>

                                <div class="role_list_item active" data-count="3" data-roletag="/recruits6024355"
                                    style="top: 80px;">
                                    <div class="place_holder" style="color: #121218">recruits</div>
                                </div>

                                <div class="role_list_item" data-count="5" data-roletag="/officers1419503"
                                    style="top: 160px;">
                                    <div class="place_holder" style="color: #ED56BA">officers</div>
                                </div>

                                <div class="role_list_item" data-count="1" data-roletag="/lurkers4722073"
                                    style="top: 0px;">
                                    <div class="place_holder" style="color: #FCC133">lurkers</div>
                                </div>
                            </div>
                            <div class="drop_places">
                                <div class="drop_place" data-count="1"></div>
                                <div class="drop_place" data-count="2"></div>
                                <div class="drop_place" data-count="3"></div>
                                <div class="drop_place" data-count="4"></div>
                                <div class="drop_place" data-count="5"></div>
                            </div>
                        </div>
                        <div class="actions">
                            <input type="text" placeholder="Type and Hit Enter....">
                            <button class="btn">Add Role</button>
                        </div>
                    </div>
                    <div class="roles_overview">
                        <div class="role_details">
                            <div class="role_name">
                                <div class="head"><h4>Edit Role Name</h4></div>
                                <input type="text" placeholder="Enter role name!" value="everyone">
                            </div>
                            <div class="role_color">
                                <div class="head"><h4>Edit Role Color</h4></div>
                                <div class="color_picker"></div>
                                <div class="notice">
                                    <p><span class="note">Note</span> :- Click to choose the color for your role!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="role_permissions">
                            <div class="heading">
                                <h4>Permissions</h4>
                            </div>
                            <div class="permissions">
                                <div class="permission fullAccess">
                                    <div class="permission_description">
                                        Access to everything, Gives Administration. Be Careful!
                                    </div>
                                    <div class="permission_switch">
                                        <div class="input_control checkBox-myOwn everything" data-checked="false">
                                            <input type="checkbox">
                                            <div class="dot"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="permission privateRooms">
                                    <div class="permission_description">
                                        User can be part of private room.
                                    </div>
                                    <div class="permission_switch">
                                        <div class="input_control checkBox-myOwn" data-checked="false">
                                            <input type="checkbox">
                                            <div class="dot"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="permission editRoles">
                                    <div class="permission_description">
                                        User can edit the roles which is lower than his role to the workspace.
                                    </div>
                                    <div class="permission_switch">
                                        <div class="input_control checkBox-myOwn" data-checked="false">
                                            <input type="checkbox">
                                            <div class="dot"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="permission deletedMessages">
                                    <div class="permission_description">
                                        User can interact/delete with messages in rooms.
                                    </div>
                                    <div class="permission_switch">
                                        <div class="input_control checkBox-myOwn" data-checked="false">
                                            <input type="checkbox">
                                            <div class="dot"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="permission pinMessages">
                                    <div class="permission_description">
                                        User can pin message to the workspace.
                                    </div>
                                    <div class="permission_switch">
                                        <div class="input_control checkBox-myOwn" data-checked="false">
                                            <input type="checkbox">
                                            <div class="dot"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="permission roomHandler">
                                    <div class="permission_description">
                                        User can interact/create/edit with rooms.
                                    </div>
                                    <div class="permission_switch">
                                        <div class="input_control checkBox-myOwn" data-checked="false">
                                            <input type="checkbox">
                                            <div class="dot"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="permission workSpaceSettings">
                                    <div class="permission_description">
                                        User can access the basic wokspace settings.
                                    </div>
                                    <div class="permission_switch">
                                        <div class="input_control checkBox-myOwn" data-checked="false">
                                            <input type="checkbox">
                                            <div class="dot"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="permission invitations">
                                    <div class="permission_description">
                                        User can invite anyone.
                                    </div>
                                    <div class="permission_switch">
                                        <div class="input_control checkBox-myOwn" data-checked="false">
                                            <input type="checkbox">
                                            <div class="dot"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="role_actions">
                            <div class="action">
                                <div class="action_description">
                                    <h3>This action cannot be undone!</h3>
                                    <div class="notice">
                                        <p><span class="note">Note</span> :- It will delete all details related to this role and members can't use this role anymore!</p>
                                    </div>
                                </div>
                                <div class="action_btn">
                                    <button class="delte_role_btn btn redLinear pointer" >Delete Role</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="back-drop"></div>
        <div class="modal padding_enable" data-id="send_file" tabindex="0">
            <div class="first-choice center-content alone noRightPadding">  
                <h5 class="bigger bottomMarginInc white">Send File</h5>
                <div class="big-image">
                    <img src="/assets/images/Saurabh_DP_square.jpg" alt="DNDeveloper">
                </div>
                <div class="message-input">
                    <div class="input" id="editeable" data-text="Enter your message!" contenteditable="true" role="textbox" tabindex="0">

                    </div>
                    <div class="tag-list"></div>
                </div>
                <button type="button" class="pointer">Send</button>
            </div>
            <div class="response_modal">
                <div class="response_svg">
                    <svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve">
                        <path class="circ path" style="fill:none;stroke:#ff5e4c;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="
                            M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
                            />
                        <polyline class="tick path" style="fill:none;stroke:#ff5e4c;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="
                            11.6,20 15.9,24.2 26.4,13.8 "/>
                    </svg>
                </div>
                <div class="response_message">
                    <p>Successfully Posted the Workspace!</p>
                </div>
                <button type="button" class="pointer">Confirm</button>
            </div>
        </div>
        <!-- <div class="modal" data-id="user_profile" tabindex="0">
            <div class="first-choice center-content alone">  
                <h5 class="bigger">User Profile</h5>
                <div class="nsImage">
                    <input name="image" type="file" class="input__file input__dp">
                    <figure>
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="30%" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
                    </figure>
                    <label for="image" class="dp__name"></label>
                    <img src="/assets/images/Saurabh_DP_square.jpg" alt="DNDeveloper">
                </div>
                <div class="input-control">
                    <label class="finalize" for="">Full Name</label>
                    <input type="text" name="" value="boys" placeholder="Enter Workspace name..." readonly>
                </div>
                <div class="input-control">
                    <label for="" class="finalize">Unique userId</label>
                    <input type="text" name="" value="boys8068659" placeholder="Enter Workspace name...">
                </div>
                <div class="input-control">
                    <label class="finalize" for="">Write a Message</label>
                    <button class="pointer blueLienar">Toggle Chatbox</button>
                </div>
            </div>
            <div class="option-choice center-content">
                <div class="input-control">
                    <label class="strict-action" for="">Such Action</label>
                    <button class="pointer redLinear">Remove Friend</button>
                </div>
            </div>
            <div class="attached-modal">
                <div class="head">
                    <div class="user_details pointer">
                        <img src="/assets/images/Saurabh_DP_square.jpg" alt="DNDeveloper">
                        <h5>Saurabh Singh</h5>
                    </div>
                    <div class="options pointer">
                        <i class="material-icons">more_vert</i>
                    </div>
                </div>
                <div class="body">
                    <div class="loader-container">
                        <svg width="40" height="40">
                            <circle class="loader" cx="20" cy="20" r="17"></circle>
                        </svg>
                    </div>
                    <div class="message" data-id="self">
                        <div class="body">
                            O
                            <div class="time">
                                4:53 am
                                <img src="/assets/images/seen-tick.svg" alt="DNDeveloper">
                            </div>
                        </div>
                    </div>
                    <div class="message" data-id="other">
                        <div class="body">
                            O
                            <div class="time">
                                4:53 am
                            </div>
                        </div>
                    </div>
                    <div class="typing-loader">
                        <div class="span">
                            <div class="typing_loader"></div>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <input type="text" placeholder="Enter your message!">
                    <button type="button">Send<i class="material-icons">send</i></button>
                </div>
            </div>
        </div> -->
        <!-- <div class="back-drop"></div> -->
        <!-- <div class="modal confirmModal max-width-500 disableMinHeight comeDown" data-id="confirmation">
            <div class="first-choice alone">  
                <h4 class="pl-10 confirmHeading">Are you sure?... You want to delete the room <span class="focusTitle" style="color: red"># general</span>!</h4>
                <div class="flex align btns">
                    <button class="pointer redLinear yes btn" type="button" data-closemodal="true">Yes
                        <div class="loader-container">
                            <svg width="40" height="40">
                                <circle class="loader" cx="20" cy="20" r="17"></circle>
                            </svg>
                        </div>
                    </button>
                    <button class="pointer no" type="button">No</button>
                </div>
            </div>
       </div> -->
    </div>


    <script src="/assets/js/dashBoard.bundle.js"></script>

</body>

</html>