<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/assets/css/fonts.css">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/css/material-icons.css">
<link rel="stylesheet" href="/css/emojionearea.min.css">
</head>
<body>

    <div id="root" > <!-- class="namespace-interchange" -->
        <!-- Left Side Nav bar -->
        <div class="nav_bar">
            <div class="userDetails-NameSpace_container">
                <!-- User Details Container -->
                <div class="user_dp image_holder remove_sidebar" data-userId="<%= user._id %>" tabindex="0">
                    <img id="user-dp" class="userLink" data-userId="<%= user._id %>" src="<%= user.image %>" alt="<%= user.name %>">
                    <!-- Notification Count -->
                    <div class="notification-count remove_sidebar" data-nothing="<%= user.notificationCount == 0 ? 'true' : 'false' %>" ><%= user.notificationCount %></div>
                </div>
                <hr>
                <!-- Add New NameSpace Container -->
                <div class="add-name_space image_holder remove_sidebar">
                    <img src="/assets/images/add.png" alt="add-icon">
                </div>
                <hr>
                <!-- NameSpace Container -->
                <div class="nameSpaceContainer"> <!-- class="tut_mode" -->
                    <% for(let workSpace of workSpaces) { %>
    <!-- class="tut_focus" --><div class="name_space image_holder anim" data-ns="<%= workSpace.endPoint %>" data-animtochilds="false" data-animdelay="0" data-animdirection="topToBottom" data-startoffset="3px" style="transition: all 0.25s ease-in-out 0s; opacity: 1; animation: 0s ease 0s 1 normal none running none; transform: none;">
                            <img src="<%= workSpace.image %>" alt="<%= workSpace.title %>" title="<%= workSpace.title %>">
                            <!-- <p><%= workSpace.title %></p> -->
                            <div class="ns-notification" data-nothing="<%= workSpace.nothing %>"></div>
                        </div>
                    <% } %>
                    <!-- <div class="back-drop"></div> -->


                    <!-- <div class="tut_message">
                        <p>Click here to get anything here</p>
                        <div class="btns">
                            <button type="button" class="redLinear">Skip</button>
                            <button type="button" class="blueLinear">Next</button>
                        </div>
                    </div> -->


<!--                    <div class="name_space image_holder anim" ns="/wikit" data-animtochilds="false" data-animdelay="0" data-animdirection="topToBottom" data-startoffset="3px" style="transition: all 0.25s ease-in-out 0s; opacity: 1; animation: 0s ease 0s 1 normal none running none; transform: none;">-->
<!--                        <img src="/assets/images/Capture.PNG" alt="wikit" title="wikit">-->
<!--                    </div>-->
<!--                    <div class="name_space image_holder" ns="/dndeveloper">-->
<!--                         <img src="./assets/images/Capture.PNG" alt="DNDeveloper" title="">-->
<!--                    </div>-->
<!--                    <div class="name_space image_holder" ns="/ewl">-->
<!--                         <img src="./assets/images/IMG_20191019_011435.jpg" alt="DNDeveloper">-->
<!--                    </div>-->
<!--                    <div class="name_space image_holder" ns="/devils">-->
<!--                         <img src="./assets/images/saurabh_with_laptop_front.jpg" alt="DNDeveloper">-->
<!--                    </div>-->
<!--                    <div class="name_space image_holder">-->
<!--                         <img src="./assets/images/Saurabh_DP_square.jpg" alt="DNDeveloper">-->
<!--                    </div>-->
                </div>
                <hr class="logout">
                <!-- Logout Button Element -->
                <div class="logout-btn image_holder">
                    <img src="/assets/images/logout.png" alt="logout-icon">
                </div>
            </div>
            <div class="nameSpaceDetails-Room_container">
<!-- class="tut_focus" --><div class="namespace-name">
                    <div class="namespace-event">
                        <h3 title="<%= config.defaultWorkSpace ? config.defaultWorkSpace.title.toUpperCase() : '' %>"><%= config.defaultWorkSpace ? config.defaultWorkSpace.title.toUpperCase() : "" %></h3><i class="material-icons">arrow_drop_down</i>
                    </div>
                    <div class="ns-options dropdown">
                        <div class="ns-option workspace-settings removeBackDropOnClick remove_sidebar">
                            <p class="red">Workspace Settings</p>
                        </div>
                        <div class="ns-option invite-friend removeBackDropOnClick remove_sidebar">
                            <p class="green">Invite Friend</p>
                        </div>
                    </div>

                    <!-- <div class="tut_message toBottom">
                        <p>Click here to get anything here</p>
                        <div class="btns">
                            <button type="button" class="redLinear">Skip</button>
                            <button type="button" class="blueLinear">Next</button>
                        </div>
                    </div> -->
                </div>
                <!-- <div class="back-drop"></div> -->
                <!-- Room Container -->
<!-- class="tut_focus" --><div class="roomContainer">

                    <!-- <div class="tut_message toRight">
                        <p>Click here to get anything here</p>
                        <div class="btns">
                            <button type="button" class="redLinear">Skip</button>
                            <button type="button" class="blueLinear">Next</button>
                        </div>
                    </div> -->
                    <h4 class="room-group-name">Rooms</h4>
                    <!-- Real Rooms -->
                    <!-- <div class="room anim" data-id="5e66686a8aca6819f4a4af34" data-nsid="5e66686b8aca6819f4a4af35" data-ns="/boys8068659" data-animtochilds="false" data-animdelay="0.1" data-animchilddelays="0.1" data-animdirection="leftToRight" data-startoffset="3px">
                        <div class="room-name">
                            <svg version="1.1" id="Capa_1" fill="#585555" style="margin-right: 6px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 31.416 31.416" xml:space="preserve"><g><g><path d="M28.755,6.968l-0.47,0.149L25.782,7.34l-0.707,1.129l-0.513-0.163L22.57,6.51l-0.289-0.934L21.894,4.58l-1.252-1.123l-1.477-0.289l-0.034,0.676l1.447,1.412l0.708,0.834L20.49,6.506l-0.648-0.191L18.871,5.91l0.033-0.783l-1.274-0.524l-0.423,1.841l-1.284,0.291l0.127,1.027l1.673,0.322l0.289-1.641l1.381,0.204l0.642,0.376h1.03l0.705,1.412l1.869,1.896l-0.137,0.737l-1.507-0.192l-2.604,1.315l-1.875,2.249l-0.244,0.996h-0.673l-1.254-0.578l-1.218,0.578l0.303,1.285l0.53-0.611l0.932-0.029l-0.065,1.154l0.772,0.226l0.771,0.866l1.259-0.354l1.438,0.227l1.67,0.449l0.834,0.098l1.414,1.605l2.729,1.605l-1.765,3.372l-1.863,0.866l-0.707,1.927l-2.696,1.8l-0.287,1.038c6.892-1.66,12.019-7.851,12.019-15.253C31.413,12.474,30.433,9.465,28.755,6.968z"></path><path d="M17.515,23.917l-1.144-2.121l1.05-2.188l-1.05-0.314l-1.179-1.184l-2.612-0.586l-0.867-1.814v1.077h-0.382l-2.251-3.052v-2.507L7.43,8.545L4.81,9.012H3.045L2.157,8.43L3.29,7.532L2.16,7.793c-1.362,2.326-2.156,5.025-2.156,7.916c0,8.673,7.031,15.707,15.705,15.707c0.668,0,1.323-0.059,1.971-0.137l-0.164-1.903c0,0,0.721-2.826,0.721-2.922C18.236,26.357,17.515,23.917,17.515,23.917z"></path><path d="M5.84,5.065l2.79-0.389l1.286-0.705l1.447,0.417l2.312-0.128l0.792-1.245l1.155,0.19l2.805-0.263L19.2,2.09l1.09-0.728l1.542,0.232l0.562-0.085C20.363,0.553,18.103,0,15.708,0C10.833,0,6.474,2.222,3.596,5.711h0.008L5.84,5.065z M16.372,1.562l1.604-0.883l1.03,0.595l-1.491,1.135l-1.424,0.143l-0.641-0.416L16.372,1.562z M11.621,1.691l0.708,0.295l0.927-0.295l0.505,0.875l-2.14,0.562l-1.029-0.602C10.591,2.526,11.598,1.878,11.621,1.691z"></path></g></g></svg>                    
                            <span># </span>
                            <span class="roomName">haha</span>
                            <div class="room-notification" data-nothing="true"></div>
                        </div>
                        <i class="pointer material-icons delete-room">delete</i>
                        
                        <hr>
                    </div> -->
<!--                    <div class="room anim" data-id="5e0f1444ff19141a58ef4ce0" data-nsid="5e0e4d536ab3a74520d9e359" data-ns="wikit" data-animtochilds="false" data-animdelay="0.1" data-animchilddelays="0.1" data-animdirection="leftToRight" data-startoffset="3px" style="transition: all 0.25s ease-in-out 0s; opacity: 1; animation: 0s ease 0s 1 normal none running none; transform: none;">-->
<!--                        <div class="room-name">-->
<!--                            <span># </span><span>2345</span></div>-->
<!--                        <i class="pointer material-icons delete-room">delete</i>-->
<!--                    </div>-->
<!--                    <div class="room anim" data-id="5e0f1444ff19141a58ef4ce0" data-nsid="5e0e4d536ab3a74520d9e359" data-ns="wikit" data-animtochilds="false" data-animdelay="0.1" data-animchilddelays="0.1" data-animdirection="leftToRight" data-startoffset="3px" style="transition: all 0.25s ease-in-out 0s; opacity: 1; animation: 0s ease 0s 1 normal none running none; transform: none;">-->
<!--                        <div class="room-name"><span># </span><span>2345</span></div>-->
<!--                        <i class="pointer material-icons delete-room">delete</i>-->
<!--                    </div>-->
<!--                        <div class="room">-->
<!--                            <div class="room-name"><span># </span><span>general</span></div>-->
<!--                            <i class="pointer material-icons">delete</i>-->
<!--                        </div>-->
<!--                        <hr>-->
<!--                    <div class="room">-->
<!--                        <div class="room-name"><span># </span><span>announcements</span></div>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div class="room">-->
<!--                        <div class="room-name"><span># </span><span>bots</span></div>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div class="room">-->
<!--                        <div class="room-name"><span># </span><span>music</span></div>-->
<!--                    </div>-->
<!--                    <hr>-->
<!--                    <div class="room">-->
<!--                        <div class="room-name"><span># </span><span>others</span></div>-->
<!--                    </div>-->
<!--                    <hr>-->
                </div>

                <!-- <div class="back-drop"></div> -->
                <button class="pointer add-room">Add Room</button>
            </div>
        </div>
        <!-- Main Message display bar -->
        <div class="main_bar">
            <!-- Room Details on top of the message container -->
            <div class="room-details">

                <!-- Mobile Navigation -->
                <div class="toggle-btn alignCenter">
                    <i class="material-icons">menu</i>
                </div>

                <!-- Left Bar on top message -->
                <div class="keepItLeft">
                    <div class="current-room-name">
                        <span><%= user.name %></span>
                    </div>
                    <div class="users-online" title="No. of online users">
                        <p></p>
                        <i class="material-icons">person</i>
                    </div>
                </div>
                <!-- Right Bar on top message -->
                <div class="keepItRight mob-search-btn">
                    <i class="material-icons">search</i>
                </div>
                <div class="keepItRight mob-drop-down">
                    <div class="emoji-input">
                        <input id="emoji" type="text" class="search-bar" placeholder="Search here!"> 
                    </div> 
                    <button id="search-btn" class="pointer">Search</button>
                </div>
                <div class="toRight">
                    <!-- class="tut_focus" --><div class="mentions-btn alignCenter">
                        <img src="/assets/images/mention.svg" class="mention" title="Sneek on your mentions" alt="mentions">

                        <div class="mentions-modal">
                            <div class="mentions-container">
                                <div class="loader-container">
                                    <svg width="40" height="40">
                                        <circle class="loader" cx="20" cy="20" r="17"></circle>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="tut_message toBottom">
                            <p>Click here to get anything here</p>
                            <div class="btns">
                                <button type="button" class="redLinear">Skip</button>
                                <button type="button" class="blueLinear">Next</button>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="back-drop"></div> -->
                    <!-- class="tut_focus" --><div class="workspace-clients-icon alignCenter">
                        <img src="/assets/images/friends.svg" class="message-user_dp" alt="workspace-clients-icon">

                        <!-- <div class="tut_message toBottomLeft">
                            <p>Click here to get anything here</p>
                            <div class="btns">
                                <button type="button" class="redLinear">Skip</button>
                                <button type="button" class="blueLinear">Next</button>
                            </div>
                        </div> -->
                    </div>
                    <div class="friends-icon alignCenter">
                        <i class="material-icons">person</i>
                    </div>
                    <div class="options-btn alignCenter">
                        <i class="material-icons">more_vert</i>
                    </div>
                </div>
            </div>
            <!-- Message display container -->
            <!-- class="tut_mode" --><div class="message-display__container">

                <div class="messages">
                    
                    <!-- Message Loader -->
                    <div class="message-loader">
                        <div class="loader-container">
                            <svg width="40" height="40">
                                <circle class="loader" cx="20" cy="20" r="17"></circle>
                            </svg>
                        </div>
                    </div>

                    <!-- <div class="message" data-userid="5e725342cd59b117f373e9de">
                        <div class="message-inner">
                            <div class="header">
                                <div class="user-img userLink pointer" data-userid="5e725342cd59b117f373e9de" data-eventactive="true">
                                    <img src="/assets/images/Saurabh_DP_square.jpg" class="message-user_dp" alt="">
                                </div>
                                
                                <div class="message-body">
                                    <div class="message-header">
                                        <div class="user userLink pointer" data-userid="5e725342cd59b117f373e9de" data-eventactive="true">
                                            <span class="message-user_name">Suraj Singh</span>
                                            <span class="message-time_stamp">Mar 19 | 2020, 18:55:10</span>
                                        </div>
                                        <div class="options pointer">
                                            <i class="material-icons">more_vert</i>
                                        </div>
                                    </div>
                                    <div class="message-data">
                                        <p data-messageid="5e725459cd59b117f373e9f2">
                                            <span class="image-input"><img src="/assets/images/Saurabh_DP_square.jpg" alt="Suraj Singh"></span>
                                            <span class="text"></span>
                                            <span class="tag-details userLink" aria-label="Suraj Singh" data-userid="5e725342cd59b117f373e9de" contenteditable="false" data-eventactive="true">
                                                <img src="/assets/images/Saurabh_DP_square.jpg" alt="Suraj Singh">@Suraj Singh
                                            </span>
                                            <span class="text">I am not gonna answer this actually.</span>
                                        </p>
                                    </div>
                                    <div class="message-status">
                                        <i class="material-icons">done_all</i>
                                    </div>
                                </div>
                                <span class="react_container">
                                    <span class="delete-icon icon">
                                        <i class="material-icons">delete</i>
                                    </span>
                                    <span class="pin-icon icon">
                                        <img src="/assets/images/pin.svg" class="message-user_dp" alt="">
                                    </span>
                                    <span class="more-icon icon">
                                        <i class="material-icons">more_horiz</i>
                                    </span>
                                </span>
                                <span class="message-time_stamp">10:33 pm</span>
                            </div>

                            <div class="message-data">
                                <p data-messageid="5e725459cd59b117f373e9f2">
                                    <span class="image-input"><img src="/assets/images/Saurabh_DP_square.jpg" alt="Suraj Singh"></span>
                                    <span class="text"></span>
                                    <span class="tag-details userLink" aria-label="Suraj Singh" data-userid="5e725342cd59b117f373e9de" contenteditable="false" data-eventactive="true">
                                        <img src="/assets/images/Saurabh_DP_square.jpg" alt="Suraj Singh">@Suraj Singh
                                    </span>
                                    <span class="text">I am not gonna answer this actually.</span>
                                </p>
                                <p data-messageid="5e725469cd59b117f373e9f5">
                                    <span class="text"></span>
                                    <span class="tag-details userLink" aria-label="Saurabh Singh" data-userid="5e72511ad20dd4174583db63" contenteditable="false" data-eventactive="true"><img src="/assets/images/Saurabh_DP_square.jpg" alt="Saurabh Singh">@Saurabh Singh</span>
                                    <span class="text">Haha, I mentioned myself</span>
                                    <span class="react_container">
                                        <span class="delete-icon icon">
                                            <i class="material-icons">delete</i>
                                        </span>
                                        <span class="pin-icon icon">
                                            <img src="/assets/images/pin.svg" class="message-user_dp" alt="">
                                        </span>
                                        <span class="more-icon icon">
                                            <i class="material-icons">more_horiz</i>
                                        </span>
                                    </span>
                                    <span class="message-time_stamp">10:33 pm</span>
                                </p>
                                <p data-messageid="5e725474cd59b117f373e9f8"><span class="text">I see</span></p>
                            </div>
                        </div>
                        <hr>
                    </div> -->

                </div>
                <!-- <div class="back-drop"></div> -->
                <!-- class="tut_focus" --><div class="workspace-clients open">

                    <!-- <div class="tut_message toLeft">
                        <p>Click here to get anything here</p>
                        <div class="btns">
                            <button type="button" class="redLinear">Skip</button>
                            <button type="button" class="blueLinear">Next</button>
                        </div>
                    </div> -->
                    <div class="online-separator separators">ONLINE</div>
                    <div class="online-clients">
                        <!-- <div class="client">
                            <div class="image">
                                <img src="/assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">
                                <span class="status" data-status="online"></span>
                            </div>
                            <div class="name">
                                <p>Saurabh Singh</p>
                            </div>
                        </div>
                        <div class="client">
                            <div class="image">
                                <img src="/assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">
                                <span class="status" data-status="online"></span>
                            </div>
                            <div class="name">
                                <p>Saurabh Singh</p>
                            </div>
                        </div>
                        <div class="client">
                            <div class="image">
                                <img src="/assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">
                                <span class="status" data-status="online"></span>
                            </div>
                            <div class="name">
                                <p>Saurabh Singh</p>
                            </div>
                        </div> -->
                    </div>
                    <div class="offline-separator separators">OFFLINE</div>
                    <div class="offline-clients">
                        <!-- <div class="client">
                            <div class="image">
                                <img src="/assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">
                                <span class="status" data-status="offline"></span>
                            </div>
                            <div class="name">
                                <p>Saurabh Singh</p>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- Real Message Body -->
                <!-- <div class="message">
                    <div class="message-inner">
                        <div class="user-img">
                            <img src="/assets/images/Saurabh_DP_square.jpg" class="message-user_dp" alt="">
                        </div>
                        <div class="message-body">
                            <div class="message-header">
                                <div class="user">
                                    <span class="message-user_name">Slim Shady</span>
                                </div>
                                <div class="options pointer">
                                    <i class="material-icons">more_vert</i>
                                </div>
                            </div>
                            <div class="message-data">
                                <p>This is my first message!</p>
                            </div>
                            <span class="message-time_stamp">5:20 am</span>
                            <div class="message-status">
                                <i class="material-icons">done_all</i>
                            </div>
                        </div>
                    </div>
                </div> -->
<!--                <div class="message">-->
<!--                    <div class="message-header">-->
<!--                        <div class="user">-->
<!--                            <img src="./assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">-->
<!--                            <span class="message-user_name">Saurabh Singh</span>-->
<!--                        </div>-->
<!--                        <span class="message-time_stamp">5:20 am</span>-->
<!--                    </div>-->
<!--                    <div class="message-data">-->
<!--                        <p>This is not my first one though!</p>-->
<!--                    </div>-->
<!--                    <div class="message-status">-->
<!--                        <i class="material-icons">done_all</i>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <!-- Send Message Element -->
            <form class="send-message">
                <div class="tag-list">
                    <div class="tag-members"></div>
                    <div class="tag-roles"></div>
                    <!-- <div class="tag">
                        <div class="tag-body userLink" data-userid="">
                            <div class="tag-img">
                                <img src="/assets/images/Saurabh_DP_square.jpg" class="message-user_dp" alt="">
                            </div>
                            <div class="tag-name">Saurabh Singh</div>
                        </div>
                        <div class="tag-hash">Saurabh Singh#12345</div>
                    </div>
                    <div class="tag">
                        <div class="tag-body">
                            <div class="tag-img">
                                <img src="/assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">
                            </div>
                            <div class="tag-name">Suraj Singh</div>
                        </div>
                        <div class="tag-hash">Suraj Singh#56145</div>
                    </div>
                    <div class="tag">
                        <div class="tag-body">
                            <div class="tag-img">
                                <img src="/assets/images/saurabh_with_laptop_front.jpg" class="message-user_dp" alt="">
                            </div>
                            <div class="tag-name">Rashika Singh</div>
                        </div>
                        <div class="tag-hash">Rashika Singh#97345</div>
                    </div>
                    <div class="tag">
                        <div class="tag-body">
                            <div class="tag-img">
                                <img src="/assets/images/Capture.jpg" class="message-user_dp" alt="">
                            </div>
                            <div class="tag-name">Ishu Sinha</div>
                        </div>
                        <div class="tag-hash">Ishu Sinha#13125</div>
                    </div> -->
                </div>
                <div class="input" id="editable" data-text="Enter your message!" contenteditable="true" role="textbox" tabindex="0">
                    
                </div>
                <!-- <div class="emoji-input">
                    <div class="input" id="editable" data-text="Enter your message!" contenteditable="true" role="textbox" tabindex="0"></div>
                </div>  -->
                <div class="selectors">
                    <div class="image_input">
                        <input type="file" name="image" class="room_image">
                        <i class="material-icons">image</i>
                    </div>
                    <!-- <div class="image_input">
                        <input type="file" name="image" class="room_image">
                        <i class="material-icons">image</i>
                    </div> -->
                </div>
                <!-- <input type="text" value="<span style='color: red'>Saurabh Singh</span> is good guy!" placeholder="Enter your message!"> -->
                <button class="pointer" type="button">Send<i class="material-icons">send</i></button>
            </form>
        </div>

        <div class="friends-list">
            <% for(let friend of friends) { %>
                <div class="friend pointer userLink remove_frndslist" data-userId="<%= friend._id %>" data-status="<%= friend.status %>" data-profileurl="http://localhost:3000/dashboard/home">
                    <span class="status"></span>
                    <img src="<%= friend.image %>" alt="<%= friend.name %>">
                    <div class="new-notification" data-nothing="<%= friend.notificationCount == 0 ? 'true' : 'false' %>" ><%= friend.notificationCount %></div>
                </div>
            <% } %>
            <!-- data-nothing="0" -->
            <!-- <div class="friend pointer" data-status="idle" data-profileurl="http://localhost:3000/dashboard/home">
                <span class="status"></span>
                <img src="/assets/images/Saurabh_DP_square.jpg" alt="DNDeveloper">
                <div class="new-notification">
                    2
                </div>
            </div>
            <div class="friend pointer" data-status="offline" data-profileurl="http://localhost:3000/dashboard/home">
                <span class="status"></span>
                <img src="/assets/images/Saurabh_DP_square.jpg" alt="DNDeveloper">
            </div> -->
        </div>

        <% if( loadOnDefault ) { %>
            <div class="back-drop"></div>
            <div class="modal" data-id="user_profile" data-userId="<%= gotUser._id %>" tabindex="0">
                <form action="/auth/update_profile" method="POST" enctype="multipart/form-data">
                    <div class="first-choice center-content alone">  
                        <h5 class="bigger">User Profile</h5>
                        <div class="modal_image user_dp">
                            <input name="image" type="file" class="input__file input__dp">
                            <figure>
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="30%" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
                            </figure>
                            <label for="image" class="dp__name"></label>
                            <img class="user_modal_img" src="<%= gotUser.image %>" alt="<%= gotUser.name %>">
                        </div>
                        <div class="input-control">
                            <label class="finalize" for="">Full Name</label>
                            <input type="text" name="user_name" value="<%= gotUser.name %>" placeholder="Enter Workspace name..." <%= isItAuthenticatedUser ? '' : 'readonly' %>>
                        </div>
                        <div class="input-control">
                            <label for="" class="finalize">Unique userId</label>
                            <input type="text" name="user_id" value="<%= gotUser._id %>" placeholder="Enter Workspace name..." disabled>
                        </div>
                        <% if(isItAuthenticatedUser) { %>
                            <div class="input-control">
                                <label class="finalize" for="Finalize Changes">Finalize Changes</label>
                                <button type="submit" id="update-profile" class="pointer blueLienar btn yes">Save Changes
                                    <div class="loader-container">
                                        <svg width="40" height="40">
                                            <circle class="loader" cx="20" cy="20" r="17"></circle>
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        <% } else if(isFriend) { %>
                            <div class="input-control">
                                <label class="finalize" for="">Write a Message</label>
                                <button class="pointer blueLienar yes" data-togglechat="true" data-closemodal="false">Toggle Chatbox</button>
                            </div>
                        <% } %>
                    </div>
                    <% if(!isItAuthenticatedUser && !isFriend) { %>
                        <div class="option-choice center-content" data-id="add_friend">
                            <div class="input-control">
                                <label class="strict-action" for="">Such Action</label>
                                <button class="pointer redLinear another">Add as a Friend</button>
                            </div>
                        </div>
                    <% } else if(!isItAuthenticatedUser) { %>
                        <div class="option-choice center-content" data-id="remove_friend">
                            <div class="input-control">
                                <label class="strict-action" for="">Such Action</label>
                                <button class="pointer redLinear another">Remove Friend</button>
                            </div>
                        </div>
                    <% } %>
                </form>
            </div>
        <% } %>

        <!--  Modal with BackDrop  -->
        <!-- <div class="back-drop"></div>
        <div class="modal" data-id="workspace_settings" tabindex="0">
            <div class="first-choice center-content alone">  
                <h5 class="bigger">Your Workspace</h5>
                <div class="modal_image">
                    <input name="nsImage" type="file" class="input__file input__dp">
                    <figure>
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="30%" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
                    </figure>
                    <label for="image" class="dp__name"></label>
                    <img src="/workspace_images/resized/1584952566437-cross.png" alt="DNDeveloper">
                </div>
                <div class="input-control">
                    <label for="">Edit workspace name</label>
                    <input type="text" name="nsName" value="DNDevelopers" placeholder="Enter Workspace name...">
                </div>
                <div class="input-control">
                    <label for="" class="small">Edit Your Workspace EndPoint</label>
                    <input type="text" name="" value="DNDevelopers4897867" placeholder="Enter Workspace name...">
                </div>
                <div class="input-control">
                    <label class="finalize" for="">Advance settings</label>
                    <button class="pointer purpleLinear" data-closemodal="false">Toggle Roles</button>
                </div>
                <div class="input-control">
                    <label class="finalize" for="">Finalize changes</label>
                    <button class="pointer blueLinear yes btn" data-closemodal="false">Save Changes
                        <div class="loader-container">
                            <svg width="40" height="40">
                                <circle class="loader" cx="20" cy="20" r="17"></circle>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
            <div class="option-choice center-content">
                <div class="input-control">
                    <label class="strict-action" for="">Strict Action</label>
                    <button class="pointer redLinear another btn" data-ns="${data.acknowledgment.workSpace.endPoint}" >Delete Workspace
                        <div class="loader-container">
                            <svg width="40" height="40">
                                <circle class="loader" cx="20" cy="20" r="17"></circle>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
            <div class="attached-modal roles" data-userid="${userId}">
                <h4>Roles</h4>
                <div class="roles-head">
                    <div class="roles_mechanism adding_role">
                        <div class="roles_container">
                            <div class="role_tag" style="border-color: red;">
                                <div class="role_name" style="color: red;">moderator</div>
                                <i class="material-icons">close</i>
                            </div>
                            <div class="role_tag" style="border-color: darkgreen;">
                                <div class="role_name" style="color: darkgreen;">owner</div>
                                <i class="material-icons">close</i>
                            </div>
                            <div class="role_tag">
                                <div class="role_name">a</div>
                                <i class="material-icons">close</i>
                            </div>
                            <div class="role_tag">
                                <div class="role_name">moderator</div>
                                <i class="material-icons">close</i>
                            </div>
                            <div class="role_tag">
                                <div class="role_name">owner</div>
                                <i class="material-icons">close</i>
                            </div>
                            <div class="role_tag">
                                <div class="role_name">admin</div>
                                <i class="material-icons">close</i>
                            </div>
                        </div>
                        <div class="back-drop"></div>
                        <div class="add_roles active">
                            <input type="text" placeholder="Enter role name...">
                            <div class="loader-container">
                                <svg width="40" height="40">
                                    <circle class="loader" cx="20" cy="20" r="17"></circle>
                                </svg>
                            </div>
                            <svg class="zoom_svg" xmlns="http://www.w3.org/2000/svg" width="36.9" height="36.975" viewBox="0 0 36.9 36.975" id="tick">
                                <g transform="translate(-0.05 0.025)">
                                    <path id="Path_1" class="circ path" data-name="Path 1" d="M30.5,6.5h0a17.02,17.02,0,0,1,0,24h0a17.02,17.02,0,0,1-24,0h0a17.02,17.02,0,0,1,0-24h0A16.841,16.841,0,0,1,30.5,6.5Z" fill="none" stroke="#ff5e4c" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3"/>
                                    <g id="middle">
                                        <path id="Path_2" class="tick path" data-name="Path 2" d="M11.6,20l7.423-3.07L26.4,13.8" transform="translate(-4.467 9.107) rotate(-19)" fill="none" stroke="#ff5e4c" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3"/>
                                        <path id="Path_3" class="tick path" data-name="Path 3" d="M11.6,20l7.423-3.07L26.4,13.8" transform="matrix(0.391, 0.921, -0.921, 0.391, 27.133, -5.193)" fill="none" stroke="#ff5e4c" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3"/>
                                    </g>
                                </g>
                            </svg>
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                            <i class="material-icons">add_box</i>
                        </div>
                    </div>
                </div>

                <h3>Role Name</h3>

                <div class="members-list">
                    <div class="clients">
                        <div class="client">
                            <div class="image">
                                <img src="/assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">
                                <span class="status" data-status="online"></span>
                            </div>
                            <div class="name">
                                <p>Saurabh Singh</p>
                            </div>
                            <div class="action_btn">
                                <div class="loader-container">
                                    <svg width="40" height="40">
                                        <circle class="loader" cx="20" cy="20" r="17"></circle>
                                    </svg>
                                </div>
                                <i class="material-icons">add_circle</i>
                            </div>
                        </div>
                        <div class="client">
                            <div class="image">
                                <img src="/assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">
                                <span class="status" data-status="online"></span>
                            </div>
                            <div class="name">
                                <p>Saurabh Singh</p>
                            </div>
                        </div>
                        <div class="client">
                            <div class="image">
                                <img src="/assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">
                                <span class="status" data-status="online"></span>
                            </div>
                            <div class="name">
                                <p>Saurabh Singh</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-members">
                    <div class="member-search-box">
                        <input type="text" placeholder="Search members to add...">
                    </div>
                    <div class="search_member_container">
                        <div class="client">
                            <div class="image">
                                <img src="/assets/images/IMG_20191019_011435.jpg" class="message-user_dp" alt="">
                                <span class="status" data-status="online"></span>
                            </div>
                            <div class="name">
                                <p>Saurabh Singh</p>
                            </div>
                            <div class="action_btn">
                                <div class="loader-container">
                                    <svg width="40" height="40">
                                        <circle class="loader" cx="20" cy="20" r="17"></circle>
                                    </svg>
                                </div>
                                <i class="material-icons add_member_to_role">add_box</i>
                                <i class="material-icons added">assignment_turned_in</i>
                            </div>
                        </div>
                        <div class="client">
                            <div class="image">
                                <img src="/assets/images/Saurabh_DP_square.jpg" class="message-user_dp" alt="">
                                <span class="status" data-status="online"></span>
                            </div>
                            <div class="name">
                                <p>Suraj Singh</p>
                            </div>
                            <div class="action_btn">
                                <i class="material-icons">add_box</i>
                            </div>
                        </div>
                        <div class="client">
                            <div class="image">
                                <img src="/assets/images/Saurabh_DP_square.jpg" class="message-user_dp" alt="">
                                <span class="status" data-status="online"></span>
                            </div>
                            <div class="name">
                                <p>Suraj Singh</p>
                            </div>
                            <div class="action_btn">
                                <i class="material-icons">add_box</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="back-drop"></div>
        <div class="modal padding_enable" data-id="send_file" tabindex="0">
            <div class="first-choice center-content alone noRightPadding">  
                <h5 class="bigger bottomMarginInc white">Send File</h5>
                <div class="big-image">
                    <img src="/assets/images/Saurabh_DP_square.jpg" alt="DNDeveloper">
                </div>
                <div class="message-input">
                    <div class="input" id="editeable" data-text="Enter your message!" contenteditable="true" role="textbox" tabindex="0">

                    </div>
                    <div class="tag-list"></div>
                </div>
                <button type="button" class="pointer">Send</button>
            </div>
            <div class="response_modal">
                <div class="response_svg">
                    <svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve">
                        <path class="circ path" style="fill:none;stroke:#ff5e4c;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="
                            M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
                            />
                        <polyline class="tick path" style="fill:none;stroke:#ff5e4c;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="
                            11.6,20 15.9,24.2 26.4,13.8 "/>
                    </svg>
                </div>
                <div class="response_message">
                    <p>Successfully Posted the Workspace!</p>
                </div>
                <button type="button" class="pointer">Confirm</button>
            </div>
        </div> -->
        <!-- <div class="modal" data-id="user_profile" tabindex="0">
            <div class="first-choice center-content alone">  
                <h5 class="bigger">User Profile</h5>
                <div class="nsImage">
                    <input name="image" type="file" class="input__file input__dp">
                    <figure>
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="30%" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
                    </figure>
                    <label for="image" class="dp__name"></label>
                    <img src="/assets/images/Saurabh_DP_square.jpg" alt="DNDeveloper">
                </div>
                <div class="input-control">
                    <label class="finalize" for="">Full Name</label>
                    <input type="text" name="" value="boys" placeholder="Enter Workspace name..." readonly>
                </div>
                <div class="input-control">
                    <label for="" class="finalize">Unique userId</label>
                    <input type="text" name="" value="boys8068659" placeholder="Enter Workspace name...">
                </div>
                <div class="input-control">
                    <label class="finalize" for="">Write a Message</label>
                    <button class="pointer blueLienar">Toggle Chatbox</button>
                </div>
            </div>
            <div class="option-choice center-content">
                <div class="input-control">
                    <label class="strict-action" for="">Such Action</label>
                    <button class="pointer redLinear">Remove Friend</button>
                </div>
            </div>
            <div class="attached-modal">
                <div class="head">
                    <div class="user_details pointer">
                        <img src="/assets/images/Saurabh_DP_square.jpg" alt="DNDeveloper">
                        <h5>Saurabh Singh</h5>
                    </div>
                    <div class="options pointer">
                        <i class="material-icons">more_vert</i>
                    </div>
                </div>
                <div class="body">
                    <div class="loader-container">
                        <svg width="40" height="40">
                            <circle class="loader" cx="20" cy="20" r="17"></circle>
                        </svg>
                    </div>
                    <div class="message" data-id="self">
                        <div class="body">
                            O
                            <div class="time">
                                4:53 am
                                <img src="/assets/images/seen-tick.svg" alt="DNDeveloper">
                            </div>
                        </div>
                    </div>
                    <div class="message" data-id="other">
                        <div class="body">
                            O
                            <div class="time">
                                4:53 am
                            </div>
                        </div>
                    </div>
                    <div class="typing-loader">
                        <div class="span">
                            <div class="typing_loader"></div>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <input type="text" placeholder="Enter your message!">
                    <button type="button">Send<i class="material-icons">send</i></button>
                </div>
            </div>
        </div> -->
<!--        <div class="back-drop"></div>-->
<!--        <div class="modal max-width-500" data-id="addRoom">-->
<!--            <h4>Are you sure?... You want to delete the room!</h4>-->
<!--            <div class="flex align btns">-->
<!--                <button class="pointer redLinear yes" type="button">Yes</button>-->
<!--                <button class="pointer no" type="button">No</button>-->
<!--            </div>-->
<!--        </div>-->
    </div>


    <script src="/assets/js/dashBoard.bundle.js"></script>
    
</body>
</html>